.img {
    width: 37px;
}

.text {
    font-family: system-ui;
}

.offcanvas {
    width: 70% !important;
}

.nav {
    position: relative;
    background-color: black;
}

.dropdown {
    background-color: black;
    border: 1px solid rgb(59, 59, 59);
}